
/* 
Mobile nav

*/

/* 1st step */

header {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.Btn-Mobile-Nav {
  border: none;
  background: none;
  cursor: pointer;
}
.Icon-Mobile-Nav {
  height: 4.5rem;
  width: 4.5rem;
  color: #343434;
}
.Btn-Mobile-Nav {
  display: none;
}

.Icon-Mobile-Nav[name="close-outline"] {
  display: none;
}
